<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"  name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>关于我们</title>
    <link rel="stylesheet" href="../public/css/view.css">
    <link rel="stylesheet" href="../public/css/about.css">
    <link rel="stylesheet" href="../public/css/home.css">
    <link rel="stylesheet" href="../public/icon/font_kmfbrbs0l5/iconfont.css">
    <link rel="stylesheet" href="../public/icon/font_36abcmk0h9g/iconfont.css">
    <link rel="stylesheet" href="../public/icon/font_xicukysaxqk/iconfont.css">
    <link rel="stylesheet" href="../public/icon/font_all/iconfont.css">
    <script src="../public/icon/font_36abcmk0h9g/iconfont.js"></script>
    <script src="../public/javascript/jquery-3.3.1.min.js"></script>
</head>
<body>
<div id="nav">
    <ul style="list-style: none">
        <li style="font-size: 30px;float: left"><span class="iconfont icon-maozhao"></span>little fairy yu's blog</li>
        <li><a href="#"><span class="iconfont icon-guanyuwomen"></span>关于我们</a></li>
        <li><a href="/add"><span class="iconfont icon-fenlei-copy"></span>添加</a></li>
        <li><a href="/files"><span class="iconfont icon-tianjia"></span>归档</a></li>
        <li><a href="/"><span class="iconfont icon-shouye" style="font-size: 27px;"></span>首页</a></li>
    </ul>
</div>
<div id="read-article">
    <div id="introduce-img">
        <img src="../public/image/03.jpg" alt="我的头像">
        <p>应该努力地去生活<br>
            对过往闭口不提，是好是坏皆为经历
        </p>
    </div>

    <div id="introduce">
        <ul style="list-style: none">
            <li><p style="color: #41725f;font-size: 25px">  小本 is a little fairy </p></li>
            <li><span class="iconfont icon-shuxiebianji"></span><span style="color:#b37b6a">关于blog：</span><br>
                <br>
                我是个学啥啥不会的人，但是喜欢美好的东西。总有一些秃然的想法，世界那么奇妙，谁知道这些想法实现会是什么样子。
                美丽的花虽然会凋谢，可是盛开的时刻值得欣赏，要在美好的时候创造出美好的东西，人生才会充满意义。
            </li>
            <li><span class="iconfont icon-shuxiebianji"></span><span style="color: #b37b6a">关于想法：</span><br>
                <br>
                很多时候，都想去做一些什么东西，想要让学到的东西多一点意义。很久之前就有自己搭建博客的想法，
                但是一直都没有去实现。因为学的东西还很少，要真正去实现这个还是很不容易的，所以还是没有真的下定决心。
            </li>
            <li><span class="iconfont icon-shuxiebianji"></span><span style="color: #b37b6a">关于大学：</span><br>
                <br>
                生活过的很快，我也跟着人家学习了很多东西，但是自己却很少完成些什么，很多东西还是需要去付诸于实践。
                时间过得太快了，有时候来不及回忆，但是总得做点有意义的事情，才不那么碌碌无为。
            </li>
            <li><span class="iconfont icon-shuxiebianji"></span><span style="color: #b37b6a">关于我:</span><br>
                <br>
                我不喜欢编程，不喜欢这个专业，不喜欢计算机，但是喜欢这些美美的东西，出自自己的手，也许这就是选择前端得到原因吧，
                我要读很多书，走很远的路；我要爱很多人，也被很多人爱；我要走过人山人海，也遍览山河湖海。
                我要纸质书，送手写的祝福；我要独立坚强温暖明亮，我要在这寡淡的世上，深情的活。
                总有一天，我要背一小包零食，带上相机，穿最喜欢的衬衫和帆布鞋，选一个最风和日丽的下午，买一张去外地的票，随便去哪里，做自己喜欢的就好。
            </li>
        </ul>
    </div>
    <div id="touch-me">
        <span>Touch me</span>
        <a href="/message" id="message-board">戳我查看留言哦❤</a>
        <form action="/message" method="post">
            <input type="hidden" value="" name="date" id="hidden">
            <label for="username">
                你的名字：<input type="text" id="username" name="username" size="50" placeholder="please write your name ...">
            </label><br>
            <label>
                <span>想说的话：</span><textarea rows="15" name="content"  placeholder="please write your message ..."></textarea>
            </label>
            <input type="submit" value="send">
        </form>
    </div>
</div>
<script>
    showTime();
    function checkTime(i) {
        if (i < 10) {
            i = '0' + i;
        }
        return i;
    }
    function showTime() {
        let show = document.getElementById('hidden');
        let myDate = new Date();
        let year = myDate.getFullYear();
        let month = myDate.getMonth() + 1;
        let date = myDate.getDate();
        let h = myDate.getHours();
        let m = myDate.getMinutes();
        let s = myDate.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        h = checkTime(h);

        let d = myDate.getDay();
        let weekday = ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'];

        show.value = year + '年' + month + '月' + date + '日 ' + weekday[d] +" " + h + ':' + m + ':' + s;
        setTimeout(showTime, 1000);
    }
</script>
</body>
</html>