<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>归档</title>
    <link rel="stylesheet" href="../public/css/add.css">
    <link rel="stylesheet" href="../public/css/home.css">
    <link rel="stylesheet" href="../public/css/files.css">
    <link rel="stylesheet" href="../public/icon/font_kmfbrbs0l5/iconfont.css">
    <link rel="stylesheet" href="../public/icon/font_36abcmk0h9g/iconfont.css">
    <link rel="stylesheet" href="../public/icon/font_xicukysaxqk/iconfont.css">
    <link rel="stylesheet" href="../public/icon/font_all/iconfont.css">
    <script src="../public/icon/font_36abcmk0h9g/iconfont.js"></script>
    <script src="../public/javascript/jquery-3.3.1.min.js"></script>
</head>
<body>
<div id="nav">
    <div class="logo">
        <span class="iconfont icon-maozhao"></span>little fairy yu's blog
    </div>
    <ul class="nav_con">
        <li><a href="/"><span class="iconfont icon-shouye" style="font-size: 27px;"></span>首页</a></li>
        <li><a href="#"><span class="iconfont icon-tianjia"></span>归档</a></li>
        <li><a href="/add"><span class="iconfont icon-fenlei-copy"></span>添加</a></li>
        <li><a href="/about"><span class="iconfont icon-guanyuwomen"></span>关于我们</a></li>
    </ul>
</div>
<div id="container">
    <div class="sort">
        <div id="sort_title">那些关于时间想说的话</div>
        <div>
            <span class="date">
               <span class="iconfont icon-ic_calendar"></span> 2018
            </span>
            <hr>
            <ul>
                {{each data as value}}
                <li><a href="/view?id={{value.id}}" class="files-a">{{value.title}}</a></li>
                {{/each}}
            </ul>
        </div>
        <div>
            <span class="date">
               <span class="iconfont icon-ic_calendar"></span> 2019
            </span>
            <hr>
            <ul>
                {{each data1 as value1}}
                <li><a href="/view?id={{value1.id}}" class="files-a">{{value1.title}}</a></li>
                {{/each}}
            </ul>
        </div>

    </div>
    <div id="content">
        <div id="search" style="margin-top: 10px">
            <form action="/search" method="get" id="search_form">
                <input value="" name="search"  placeholder="     搜索">
                <span class="iconfont icon-sousuo" onclick="sub_search()"></span>
            </form>
        </div>
      <div class="my-href">
          <p>个人链接</p>
          <ul style="list-style: none">
              <li><span class="iconfont icon-github"></span><a href="https://github.com/2846256621" style="color: #ae3637">Github</a></li>
              <li><span class="iconfont icon-shu2"></span><a href="https://www.jianshu.com/u/b79a37302faf" style="color: #6eae74">简书</a></li>
              <li><span class="iconfont icon-music" style=" font-weight: bolder;padding: 0 20px 0 0px"></span><a href="https://music.163.com/#" style="color: #d38439;">网易云音乐</a></li>
              <li><span class="iconfont icon-weixin"></span><a href="https://www.jianshu.com/u/90885d6b88e1" style="color: #605751">我旁边人的微信</a></li>
          </ul>
      </div>
      <div class="friend-href">
          <p>友情链接</p>
          <ul style="list-style: none">
              <li>
                  <img src="../public/image/01.jpg" alt="head">
                  <a href="#" style="color: #ae3637">little fairy</a>
              </li>
              <li>
                  <img src="../public/image/02.jpg" alt="head">
                  <a href="#" style="color: #6eae74">龟兔</a>
              </li>
              <li>
                  <img src="../public/image/03.jpg" alt="head">
                  <a href="#" style="color: #d38439">小本</a>
              </li>
              <li>
                  <img src="../public/image/04.jpg" alt="head">
                  <a href="#" style="color: #8e7463">sunny</a>
              </li>
          </ul>
      </div>
  </div>

</div>
<script>
    function sub_search(){
        let form = document.getElementById('search_form');
        form.submit();
    }
</script>
</body>
</html>