<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>归档</title>
    <link rel="stylesheet" href="../public/css/sort.css">
    <link rel="stylesheet" href="../public/css/home.css">
    <link rel="stylesheet" href="../public/css/files.css">
    <link rel="stylesheet" href="../public/icon/font_kmfbrbs0l5/iconfont.css">
    <link rel="stylesheet" href="../public/icon/font_36abcmk0h9g/iconfont.css">
    <link rel="stylesheet" href="../public/icon/font_xicukysaxqk/iconfont.css">
    <link rel="stylesheet" href="../public/icon/font_all/iconfont.css">
    <script src="../public/icon/font_36abcmk0h9g/iconfont.js"></script>
    <script src="../public/javascript/jquery-3.3.1.min.js"></script>
</head>
<body>
<div id="nav">
    <ul style="list-style: none">
        <li style="font-size: 30px;float: left"><span class="iconfont icon-maozhao"></span>little fairy yu's blog</li>
        <li><a href="/about"><span class="iconfont icon-guanyuwomen"></span>关于我们</a></li>
        <li><a href="/sort"><span class="iconfont icon-fenlei-copy"></span>分类</a></li>
        <li><a href="#"><span class="iconfont icon-tianjia"></span>归档</a></li>
        <li><a href="/"><span class="iconfont icon-shouye" style="font-size: 27px;"></span>首页</a></li>
    </ul>
</div>
<div id="container">
    <div class="sort">
        <div>那些关于时间想说的话</div>
        <div>
            <span class="date">
               <span class="iconfont icon-ic_calendar"></span> 2018
            </span>
            <hr>
            <ul>
                {{each data as value}}
                <li><a href="/view?id={{value.id}}" class="files-a">{{value.title}}</a></li>
                {{/each}}
            </ul>
        </div>
        <div>
            <span class="date">
               <span class="iconfont icon-ic_calendar"></span> 2019
            </span>
            <hr>
            <ul>
                {{each data1 as value1}}
                <li><a href="/view?id={{value1.id}}" class="files-a">{{value1.title}}</a></li>
                {{/each}}
            </ul>
        </div>

    </div>
    <div id="sort-img">
        <div> ∣ 每个夏天 </div>
        <div> 我都在这里∣ </div>
    </div>
</div>
</body>
</html>