<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>留言展示</title>
    <link rel="stylesheet" href="../public/css/home.css">
    <link rel="stylesheet" href="../public/icon/font_kmfbrbs0l5/iconfont.css">
    <link rel="stylesheet" href="../public/icon/font_36abcmk0h9g/iconfont.css">
    <link rel="stylesheet" href="../public/icon/font_xicukysaxqk/iconfont.css">
    <link rel="stylesheet" href="../public/icon/font_all/iconfont.css">
    <link rel="stylesheet" href="../public/css/calendar.css">
    <link rel="stylesheet" href="../public/css/message.css">
    <script src="../public/icon/font_36abcmk0h9g/iconfont.js"></script>
    <script src="../public/javascript/jquery-3.3.1.min.js"></script>
    <script src="../public/javascript/jquery.min.js"></script>
    <script src="../public/javascript/calendar.js"></script>
    <script src="../public/icon/font_3sz0qjh1rx/iconfont.js"></script>
</head>
<body>
<div id="container">
    <div id="content-left">
      <div id="head-img">
          <img src="../public/image/cat.png">
          <div>little fairy's blog</div>
      </div>
      <div id="content-list">
          <div>组成</div>
          <ul id="content-list-more">
              <li>
                  <span>小本的日常</span>
                  <span class="ul-more"> ▶ </span>
                  <ul class="more-list">
                      <li><a href="/sort">心情</a></li>
                      <li><a href="/sort">生活</a></li>
                      <li><a href="/sort">杂谈</a></li>
                  </ul>
              </li>
              <li>
                  <span>小本的故事</span>
                  <span class="ul-more"> ▶ </span>
                  <ul class="more-list">
                      <li><a href="https://music.163.com/#/my/m/music/playlist?id=868934926">网易云音乐</a></li>
                      <li><a href="https://www.jianshu.com/u/b79a37302faf">简书</a></li>
                      <li><a href="https://github.com/2846256621">Github</a></li>
                  </ul>
              </li>
              <li>
                  <span>推荐</span>
                  <span class="ul-more"> ▶ </span>
                  <ul class="more-list">
                      <li><a href="https://www.w3school.com.cn/">w3school</a></li>
                      <li><a href="https://www.runoob.com/">菜鸟教程</a></li>

                  </ul>
              </li>
          </ul>
      </div>
  </div>
    <div id="content-right">
        <div id="content-right-top">
            <div>
                <span>小本的个人博客</span>
                <span id="home"><a href="/about"><span class="iconfont icon-shouye" style="font-size: 27px;"></span>返回</a></span>
                <div id="btn-list">
                    <button><a href=""></a>github</button>
                    <button><a href=""></a>简书</button>
                    <button><a href=""></a>网易云</button>
                </div>
                <div style="position: absolute;top:20px;width: 100%">
                    <div class="comment-all">
                        <div>117</div>
                        <span>评论</span>
                    </div>
                    <div class="comment-all">
                        <div>45</div>
                        <span>文章</span>
                    </div>
                    <div class="comment-all">
                        <div>66</div>
                        <span>新鲜事</span>
                    </div>
                </div>
              <div id="about-btn"> about </div>
            </div>

        </div>
        <div id="content-right-body">
            {{each data as value}}
            <div class="dialog-box">
                <img src="{{value.headimg}}">
                <div class="triangle-div">
                    <span>{{value.username}}</span>
                    <span>{{value.date}}</span>
                    <div class="message_con">
                        <span>{{value.content}}</span>
                    </div>
                    <span>♡&nbsp;{{value.froms}}</span>
                </div>
            </div>
            {{/each}}
            <div id="bottom-box"><div>
        </div>

        </div>
        </div>
    </div>
</div>
<script src="../public/javascript/message.js"></script>
</body>
</html>