body{

}
#read-article{
    min-width: 75%;
    height: auto;
    margin: 10px auto 70px;
    padding-bottom: 5px;
    background: rgba(226, 226, 226, 0.5);
    border-radius: 5px;
    font-family:  "blog_art_style",serif;
    font-weight: bolder;
    font-size: 22px;
}
#introduce-img{
    width:150px;
    position: relative;
}
#introduce-img p{
    float: left;
    display: inline-block;
    left:50%;
    top:200px;
    font-size: 24px;
    min-height: 400px;
    position: absolute;
    writing-mode:vertical-lr;
    color: #7a4a51;
}
#introduce-img img{
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 40px;
    position: absolute;
    border: 1px solid #9c9caa;
}
#introduce{
    position: relative;
    display: inline-block;
    left: 15%;
    width: 74%;
    margin:70px 20px;
    padding-left:3%;
    padding-bottom: 8px;
}
#introduce ul li{
    margin-top: 10px;
    color: #364f3b;
}

#touch-me{
    position: relative;
    width: 80%;
    margin: 10px auto;
    font-size: 20px;
    border-top: 1px solid #9c9caa;
}
#touch-me label span{
    position: absolute;
    font-size: 20px;
}
#touch-me span{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
}
#touch-me form input[type='text']{
    padding: 5px;
    margin-bottom: 10px;
    opacity: 0.7;
}
#touch-me form input[type='submit']{
    position: absolute;
    display: block;
    width: 60px;
    border: none;
    padding: 5px;
    background: #41725f;
    border-radius: 5px;
    color: #f7f5f3;
    right: 0;
    bottom: 20px;
}
#touch-me form textarea{
    width: 80%;
    padding: 5px;
    margin: 20px 10px;
    font-family:sans-serif;
    position: relative;
    left: 10%;
    opacity: 0.7;
}
body #touch-me #message-board{
    font-size: 23px;
    top:4%;
    position: absolute;
    right: 0;
    cursor: pointer;
}

@font-face {
    font-family: "blog_en_style";
    src: url("../font_style/DKCoolCrayon.ttf");
}
@font-face {
    font-family: "blog_zh_style";
    src: url("../font_style/HYQuHeiW.ttf");
}
@font-face {
    font-family: "blog_art_style";
    src: url("../font_style/zhilan.ttf");
}
/*iphone 5*/
@media screen and (max-width: 568px) {
    #read-article p {
        font-size: 20px !important;
        padding: 2px 5px;
        margin-left: 25px;
    }
    #introduce ul li {
        margin-top: 10px;
        color: #364f3b;
        font-size: 19px;
    }
    #introduce-img p{
        display: none;
        left: 0;
    }
    #introduce {
        position: relative;
        display: inline-block;
        width: 87%;
        left: 0;
        top: 5px;
        margin: 70px 20px;
        padding-left: 3%;
        padding-bottom: 8px;
    }
    body #touch-me #message-board {
        font-size: 20px;
        top: -10%;
        position: absolute;
        right: 0;
        cursor: pointer;
    }
    #introduce-img img{
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 25px 0;
        position: absolute;
        border: 1px solid #9c9caa;
    }
    #touch-me form input[type='text']{
        width: 100%;
    }
    #touch-me form textarea {
        width: 100%;
        padding: 5px;
        margin: 20px 0;
        font-family: sans-serif;
        position: relative;
        left: 1%;
        opacity: 0.7;
        top: 30px;
        height: 120px;
    }
    #introduce {
        margin: 20px;
    }
    #touch-me form input[type='submit']{
        top: 20px;
        height: 25px;
        position: absolute;
        display: block;
        width: 60px;
        border: none;
        padding: 5px;
        background: #41725f;
        border-radius: 5px;
        color: #f7f5f3;
        right: 0;
        bottom: 20px;
    }
}
@media screen and (max-width:1024px) and (min-width: 736px) {
    #introduce-img {
        width: 75px;
    }
    #introduce-img img {
        width: 100px;
        height: 100px;
        margin: 85% 10px;
    }

    #introduce {
        margin: 70px 20px 20px;
    }
    #touch-me label span {
        position: relative;
    }
    #touch-me span {
        display: block;
        margin: 20px 0;
    }
    #touch-me form textarea {
        width: 80%;
        padding: 5px;
         margin:0;
        font-family: sans-serif;
        position: relative;
        left: 0;
        opacity: 0.7;
    }
}