#container{
    width: 75%;
    height: 100%;
    font-weight: bolder;
    margin: 10px auto;
    font-family:  "blog_art_style",sans-serif;
}
#container div:nth-child(1){
    font-size: 28px;
    color: #5d5d64;
    padding: 10px;
}
.sort {
    position: relative;
    margin: 20px 0;
    width: 70%;
    min-height: 1000px;
    border-color: #858791 transparent #858791 #858791;
    border-radius: 4px;
    background-color: rgba(225, 225, 225, 0.3);
    display: inline-block;
}
#sort-img{
    position: absolute;
    margin: 20px 0;
    display: inline-block;
    width: 25%;
    min-height: 1000px;
    padding-bottom: 20px;
    background: url("../image/body.jpg") 100% 100% no-repeat;
    background-size: cover;
    border: 1px solid #757575;
    border-left: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    opacity: .9;
}
#sort-img div:nth-child(1){
    width: 1em;
    color: #5d5d64;
    font-size: 38px;
    z-index: 100;
    position: absolute;
    right: 35%;
    top: 10%;
}
#sort-img div:nth-child(2){
    width: 1em;
    color: #5d5d64;
    font-size: 38px;
    z-index: 100;
    position: absolute;
    right: 25%;
    top:25%
}
#sort-img div:nth-child(3){
    width: 100%;
    color: #5d5d64;
    font-size: 24px;
    z-index: 100;
    position: absolute;
     bottom: 0;
}
.sort ul {
    float: left;
    margin: 20px;
    list-style: none;
    width: 92%;
    position: relative;
}
.sort:after{
    content: "";
    clear: both;
    display: block;
}
.sort ul li{
    margin: 10px;
    padding-bottom: 5px;
    width: 100%;
    min-height: 30px;
    display: block;
    border-left: 1px solid #0c4f47;
}
.sort ul li:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 8px;
    margin-top: 30px;
    border: 3px solid #0c4f47;
    border-radius: 50%;
}
.sort ul li {
    margin:10px;
    width:100%;
    color: #5d5d64;
    font-size: 21px;
    cursor: pointer;
}

.sort ul li:hover{
    color: #8396d7;
    cursor: pointer;
}
.sort ul li .files-a{
    margin:10px;
    width:100%;
    color: #5d5d64;
    font-size: 24px;
    cursor: pointer;
 }
.sort ul li .files-a:hover{
    color: #8396d7;
    cursor: pointer;
}
.sort ul li a{
    color: #b94a48;
    font-size: 26px;
}
.sort ul li a:hover{
    color:#d38439;
}
.date{
    color: #ae3637;
}
.date .iconfont{
    color: #454545;
}
@font-face {
    font-family: "blog_art_style";
    src: url("../font_style/zhilan.ttf");
}
@media screen and  (min-width: 414px)  and (max-width: 736px){
    #container{
        width: 82%;
    }
    #nav ul {
        width: 91% !important;
        height: 100%;
    }
    .sort ul {
        margin: 0;
        list-style: none;
        width: 90%;
    }
    .sort{
        width: 94%;
        border-right: 1px solid  #858791;
    }
}
@media screen and  (min-width: 320px) and (max-width: 568px){
    #nav {
        height: 100px;
    }
    #nav ul{
        width: 100%;
    }
    #nav ul li{

        font-size: 20px;
        padding: 0 5px;
    }
    #sort-img{
        display: none;
    }
    .sort{
        width: 94%;
        border-right: 1px solid  #858791;
    }
}

@media screen and (max-width: 812px) and (min-width: 375px){
    #nav ul {
        width: 100%;
    }
    #container {
        width: 82%;
        margin-bottom: 70px;
    }
    .sort ul {
        float: left;
         margin: 0;
        list-style: none;
        width: 92%;
    }
    #sort-img{
        display: none;
    }
    .sort{
        width: 94%;
        border-right: 1px solid  #858791;
    }
}
@media screen and (max-width: 320px) {
    #nav ul {
        width: 102%;
    }

    #nav {
        height: 100px;
    }

    #nav ul li {
        /*float: left;*/
        font-size: 19px;
        padding: 0 1px;
    }
    #nav ul li a span{
        font-size: 19px;
    }
    #sort-img{
        display: none;
    }
    .sort{
        width: 94%;
        border-right: 1px solid  #858791;
    }
}