*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
#content{
    width: 74%;
    height: 100%;
    position: relative;
    min-width: 80%;
    font-family:  "blog_art_style",sans-serif;
    margin-bottom: 10px;
}
#nav{
    width: 100%;
    height: 50px;
    background-color: rgba(180, 184, 203, 0.4);
    box-shadow: 0 1px 1px #c2b9b9;
}
#nav ul li{
    position: relative;
    float: right;
    padding: 0 30px;
    line-height: 50px;
    color: #7a4a51;
    font-size: 27px;
    font-weight: bolder;
    font-family: "blog_art_style",sans-serif;
}
#nav ul li span{
    margin-right: 8px;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: #7a4a51;
    font-size: 27px;
}
#sort-list{
    width: 53%;
    display: inline-block;
    margin: 0 10%;
}
.sort{
    position:relative;
    margin: 20px 0;
    width: 100%;
    border: 1px solid #858791;
    border-radius: 4px;
    background-color: rgba(225,225,225,0.3);
}
.sort ul {
    float: left;
    margin: 20px;
    list-style: none;
    width: 92%;
}
.sort:after{
    content: "";
    clear: both;
    display: block;
}
.sort ul li{
    margin: 10px;
    font-size: 20px ;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px  dashed #9c9caa;
}
.sort ul li div{
    margin:10px;
    width:100%;
    color: #5d5d64;
    font-size: 21px;
    min-height: 100px;
}
.sort ul li div li{
    border: none;
    cursor: pointer;
}
.sort ul li div li:hover{
    color: #8396d7;
    cursor: pointer;
}
.sort ul li a{
    color: #b94a48;
    font-size: 26px;
}
.sort ul li a:hover{
   color:#d38439;
}
.date{
    display: block;
    width: 200px;
    margin:20px 15px;
    font-size: 25px;
}
.sort img{
    width: 40%;
    height:250px;
    display: inline-block;
    float: left;
}
.list{
    position: absolute;
    width: 25%;
    border-radius: 5px;
    right: 11%;
    display: inline-block;
    top: 0;
}

.li{
    display: inline-block !important;
    padding: 7px 9px !important;
}
.my-article ul .li a{
    padding: 8px;
    color: #b47131 ;
    font-size: 24px ;
}
.my-article ul .li a:hover{
    color: #50ae5a;
    transform: scale(1.2);
}

body .friend-href ul li a {
    position: absolute;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    left: 76px;
    font-size: 23px;
    color: #8e7463;
}
@media screen and (max-width: 500px)  {
    .list{
        display: none;
    }
    #sort-list{
        width: 82%;
        display: inline-block;
        margin: 20px 36px;
    }
    .sort{
        width:100%;
        margin:0 auto 70px;
        display: block;
    }
    .sort ul li {
         margin: 0;
         padding: 2px;
    }
    .sort ul {
         margin:5px;
        list-style: none;
        width: 95%;
    }
    #nav {
        height: 100px;
        overflow-x:hidden
    }
     #nav ul{
        height: 100%;
        width:90%;
    }
    #nav ul li{
        float: left;
        font-size: 20px;
        padding: 0 10px;
    }
    #nav ul li a{
        font-size: 20px;
    }
}
@media screen and (max-width: 320px) {
    #nav {
        height: 150px;
    }
    #nav ul{
        width: 100%;
    }
    #nav ul li{
        float: left;
        font-size: 20px;
        padding: 0 5px;
    }
    #sort-list {
        width: 82%;
        display: inline-block;
        margin: 20px 30px;
    }
}
@media screen and (max-width: 500px) and (min-width: 350px){
    #nav ul {
        width: 99%;
    }
}
@media screen and (max-width: 414px) and (min-width: 736px){
    #nav ul {
        width: 91% !important;
    }
}
@media screen and (max-width: 320px) {
    #nav ul {
        width: 100%;
    }

    #nav {
        height: 100px;
    }

    #nav ul li {
        /*float: left;*/
        font-size: 19px;
        padding: 0 1px;
    }
    #nav ul li a span{
        font-size: 19px;
    }
}