*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background: url("../image/body.jpg") no-repeat  100% 100% fixed;
    background-size:cover;
}
#read-article {
    width: 56%;
    border: 1px solid #9c9caa;
    position: relative;
    top: 20px;
    border-radius: 4px;
    margin-left: 5%;
    font-size: 21px;
    padding: 2%;
    color: #343232;
    background-color: rgba(238 ,236,231,0.6);
}
#read-article p {
    font-size: 26px;
    color: #ae3637;
    display: block;
    padding: 10px 5px;
    border-bottom: 1px solid #9c9caa;
}
.modify_icon{
    display: inline-block;
    float: right;
}
.modify_icon a span{
    font-size: 20px;
    color: #bd2c00;
    margin-left: 10px;
}
body .recommend a{
    display: inline-block;
    width: 80%;
    white-space: nowrap;
    color: #4b4f28 !important;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 10px;
    font-size: 20px;
}
.recommend a:hover{
    color: #ae3637 !important;
}
@font-face {
    font-family: "blog_en_style";
    src: url("../font_style/DKCoolCrayon.ttf");
}
@font-face {
    font-family: "blog_zh_style";
    src: url("../font_style/HYQuHeiW.ttf");
}
@font-face {
    font-family: "blog_art_style";
    src: url("../font_style/zhilan.ttf");
}
@media screen and  (max-width: 568px){
    #read-article p {
        font-size: 21px;
    }
    #read-article {
        width: 85%;
        font-size: 19px;
    }

}
@media screen and (max-width: 1024px) and (min-width: 736px){
    #add-list {
        width: 93%;
    }
    .add {
        width: 74%;
    }
    #read-article {
        width: 85%;
    }
    .btn_all {
        width: 90%;
        margin: 5px auto;
    }
}


